<settings>
    <group id="authGroup" title="@Strings.authGroup" description="@Strings.authGroupDesc">
        <setting propertyKey="@Properties.ltoken_v2" title="@Strings.ltoken_v2_cookie">
            <settingConfig type="alphanumeric" />
        </setting>

        <setting propertyKey="@Properties.ltuid_v2" title="@Strings.ltuid_v2_cookie">
            <settingConfig type="numeric" />
        </setting>
    </group>
    <group id="accGroup" title="@Strings.accGroup" description="@Strings.accGroupDesc">
        <setting propertyKey="@Properties.game_uid" title="@Strings.game_uid">
            <settingConfig type="numeric" />
        </setting>

        <setting propertyKey="@Properties.region" title="@Strings.region">
            <settingConfig type="alphanumeric" readonly="true" />
        </setting>
    </group>
    <group id="advancedGroup" title="@Strings.advancedGroup" description="@Strings.advancedGroupDesc">
        <setting propertyKey="@Properties.cache_retention" title="@Strings.cache_retention">
            <!--5mins - 4h -->
            <settingConfig type="numeric" min="5" max="240" />
        </setting>
    </group>
</settings>
